/ Carousel
#myCarousel.carousel.slide
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  .carousel-inner
    .item.active
      %img{:alt => "First slide", "data-src" => "holder.js/100%x500/auto/#777:#7a7a7a/text:First slide", :src => "data:image/png;base64,"}
        .container
          .carousel-caption
            %h1 Example headline.
            %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            %p
              %a.btn.btn-large.btn-primary{:href => "#"} Sign up today
    .item
      %img{:alt => "Second slide", "data-src" => "holder.js/100%x500/auto/#777:#7a7a7a/text:Second slide", :src => "data:image/png;base64,"}
        .container
          .carousel-caption
            %h1 Another example headline.
            %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            %p
              %a.btn.btn-large.btn-primary{:href => "#"} Learn more
    .item
      %img{:alt => "Third slide", "data-src" => "holder.js/100%x500/auto/#777:#7a7a7a/text:Third slide", :src => "data:image/png;base64,"}
        .container
          .carousel-caption
            %h1 One more for good measure.
            %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            %p
              %a.btn.btn-large.btn-primary{:href => "#"} Browse gallery
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
    %span.glyphicon.glyphicon-chevron-right

  / Marketing messaging and featurettes
.container.marketing
  .row
    .col-lg-4
      %img{:alt => "Generic placeholder image", :src => "http://www.redditstatic.com/about/assets/reddit-alien.png", :width => 105, :height => 146}
        %h2 Reddit
        %p Want to be notified when something goes viral on the Internet? Wait no more and get notified immediately when a story gets on top of reddit, the front page of the Internet.
        %p
          %a.btn.btn-default{:href => "/services/reddit"} Get Notified &raquo;
    .col-lg-4
      %img{:alt => "Generic placeholder image", :src => "/assets/img/Sunny-Period.png", :width => 150, :height => 150}
        %h2 Weather
        %p Another day ruined because of the weather? Build custom weather notifications around your needs and get notified only when you need to. No spam, only the information you need.
        %p
          %a.btn.btn-default{:href => "/services/weather"} Get Notified &raquo;
    .col-lg-4
      %img{:alt => "Generic placeholder image", :src => "/assets/img/octocat.png", :width => 156, :height => 156}
        %h2 GitHub
        %p Social coding is important to you? You want to be notified immediately when someone opens an issue in your open source repository? GitHub notifications are perfect to keep you on top of your projects.
        %p
          %a.btn.btn-default{:href => "/services/github"} Get Notified &raquo;

  %hr.featurette-divider
    .row.featurette
      .col-md-7
        %h2.featurette-heading
          First featurette heading.
          %span.text-muted It'll blow your mind.
        %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      .col-md-5
        %img.featurette-image.img-responsive{:alt => "Generic placeholder image", "data-src" => "holder.js/500x500/auto", :src => "data:image/png;base64,"}
    %hr.featurette-divider
      .row.featurette
        .col-md-5
          %img.featurette-image.img-responsive{:alt => "Generic placeholder image", "data-src" => "holder.js/500x500/auto", :src => "data:image/png;base64,"}
        .col-md-7
          %h2.featurette-heading
            Oh yeah, it's that good.
            %span.text-muted See for yourself.
          %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      %hr.featurette-divider
        .row.featurette
          .col-md-7
            %h2.featurette-heading
              And lastly, this one.
              %span.text-muted Checkmate.
            %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
          .col-md-5
            %img.featurette-image.img-responsive{:alt => "Generic placeholder image", "data-src" => "holder.js/500x500/auto", :src => "data:image/png;base64,"}
        %hr.featurette-divider