%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %title NotifyMe
    / Bootstrap core CSS
    %link{ :href => "/bootstrap/css/bootstrap.css", :type => "text/css", :rel => "stylesheet" }
    %link{ :href => "/css/dashboard.css", :type => "text/css", :rel => "stylesheet" }
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="/assets/js/html5shiv.js"></script>
      <script src="/assets/js/respond.min.js"></script>

    %body
      = haml :navbar

      = yield

    / Custom styles for this template
    %link{:href => "/css/carousel.css", :rel => "stylesheet"}
    / Scripts
    %script{ :type => "text/javascript", :src =>"/assets/js/jquery.js"}
    %script{ :type => "text/javascript", :src =>"/bootstrap/js/bootstrap.min.js"}
    %script{ :type => "text/javascript", :src =>"/assets/js/holder.js"}
    %script{ :type => "text/javascript", :src =>"/assets/js/button.js"}
