.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} NotifyMe
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li{:class => if request.path_info == "/" then 'active' end}
              %a{:href => "/"} Home
            %li{:class => if request.path_info == "/services/reddit" then 'active' end}
              %a{:href => "/services/reddit"} Reddit
            %li{:class => if request.path_info == "/services/weather" then 'active' end}
              %a{:href => "/services/weather"} Weather
            %li{:class => if request.path_info == "/services/poly" then 'active' end}
              %a{:href => "/services/poly"} Poly
            %li{:class => if request.path_info == "/services/github" then 'active' end}
              %a{:href => "/services/github"} GitHub
          %ul.nav.navbar-nav.navbar-right
            - if logged_in?
              %li{:class => if request.path_info == "/dashboard" then 'active' end}
                %a{:href => "/dashboard"} #{session[:fullname]}
            - else
              %a{:href => "/auth/google"}
                %img{:src => "/assets/img/google-sign-in.png"}
