.container.marketing
  %form.form-horizontal#poly-result{:role => "form"}
    %legend Create New Result Notification
    .form-group
      %label.col-sm-1.control-label{:for => "code"} Code
      .col-xs-3
        %input.form-control.input-sm{:placeholder => "Code", :id => "code", :name => "code", :type => "text"}
    .form-group
      %label.col-sm-1.control-label{:for => "password"} Password
      .col-xs-3
        %input.form-control.input-sm{:placeholder => "Password", :id => "password", :name => "password", :type => "password"}
    .form-group
      %label.col-sm-1.control-label{:for => "ddn"} Naissance
      .col-xs-3
        %input.form-control.input-sm{:placeholder => "AA/MM/JJ", :id => "ddn", :name => "ddn",:type => "text"}
    .form-group
      .col-sm-offset-1.col-sm-4
        %button.btn.btn-default{:type => "submit"} Submit
    .submit-result
