.container.marketing
  %form.form-horizontal#reddit-front-page{:role => "form"}
    %legend Create Front Page Notification
    %label Notify me when a post has over X upvotes:
    .form-group
      %label.col-sm-1.control-label{:for => "score"} Upvotes
      .col-sm-2
        %select.form-control.input-sm{:id => "score", :name => "score"}
          %option{:value=>"15000"}15 000
          %option{:value=>"25000"}25 000
          %option{:value=>"50000"}50 000
    .form-group
      .col-sm-offset-1.col-sm-4
        %button.btn.btn-default{:type => "submit"} Submit
    .submit-result
    %br

  %form.form-horizontal#reddit-user-comment{:role => "form"}
    %legend Create User Comment Notification
    %label Notify me if one of my comments receives more than X upvotes:
    .form-group
      %label.col-sm-1.control-label{:for => "user"} Username
      .col-sm-2
        %input.form-control.input-sm{:id => "user", :name => "user",:type => "text"}
    .form-group
      %label.col-sm-1.control-label{:for => "score"} Upvotes
      .col-sm-2
        %input.form-control.input-sm{:id => "score", :name => "score",:type => "text"}
    .form-group
      .col-sm-offset-1.col-sm-4
        %button.btn.btn-default{:type => "submit"} Submit
    .submit-result
    %br

  %form.form-horizontal#reddit-user-comment{:role => "form"}
    %legend Create User Comment Notification
    %label Notify me if one of my comments receives more than X upvotes:
    .form-group
      %label.col-sm-1.control-label{:for => "user"} Username
      .col-sm-2
        %input.form-control.input-sm{:id => "user", :name => "user",:type => "text"}
    .form-group
      %label.col-sm-1.control-label{:for => "score"} Upvotes
      .col-sm-2
        %input.form-control.input-sm{:id => "score", :name => "score",:type => "text"}
    .form-group
      .col-sm-offset-1.col-sm-4
        %button.btn.btn-default{:type => "submit"} Submit
    .submit-result
