.container.marketing
  %form#weather-temperature
    %fieldset
      %legend Create Temperature Notification
      %label Notify me when the [minimum/maximum] temperature in [city] will be [temperature] in the next 24 hours:
      %br
      City ID:
      %input{:name => "city", :id => "city", :type => "text", :style=>"margin-left:40px; margin-right:10px"}
      %button.btn.btn-default.btn-xs{"data-target" => "#FindCityModal", "data-toggle" => "modal", :style=>"margin-bottom:3px"}
        %span.glyphicon.glyphicon-search
        Find city ID
      %br
      Type:
      %select{:name => "type", :id => "type", :style=>"margin-left:50px; margin-top:7px"}
        %option{:value=>"minimum"}Minimum
        %option{:value=>"maximum"}Maximum
      %br
      Temperature:
      %input{:name => "temperature", :id => "temperature", :type => "text", :style=>"margin-top:7px"}
      %br
      %br
      %button.btn.btn-default#weather-temp-submit-btn Submit
    %br
    .submit-result

  %br
  %form#weather-forecast
    %fieldset
      %legend Create Weather Notification
      %label Notify me when the weather in [city] will be [rainy/sunny] in the next 24 hours:
      %br
      City ID:
      %input{:name => "city", :id => "city", :type => "text", :style=>"margin-left:40px; margin-right:10px"}
      %button.btn.btn-default.btn-xs{"data-target" => "#FindCityModal", "data-toggle" => "modal", :style=>"margin-bottom:3px"}
        %span.glyphicon.glyphicon-search
        Find city ID
      %br
      Weather:
      %select{:name => "weather", :id => "weather", :style=>"margin-left:30px; margin-top:7px"}
        %option{:value=>"rainy"}Rainy
        %option{:value=>"rainy"}Sunny
      %br
      %br
      %button.btn.btn-default#weather-temp-submit-btn Submit
    %br
    .submit-result

/ Modal
#FindCityModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title City ID Finder
      .modal-body
        City:
        %input{:name => "city", :id => "modal-city", :type => "text"}
        %button.btn.btn-primary.btn-sm#modal-search-city{:type=>"button", :href=>"#"} Search
        .modal-city-search-result
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close