a.dashboard-btn:link{
    color:Crimson;
}
a.dashboard-btn:visited{
    color:Crimson;
}
a.dashboard-btn:hover{
    color:Crimson;
}
a.dashboard-btn:focus{
    color:Crimson;
}
a.dashboard-btn:active{
    color:Crimson;
}